{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="vcenter">
    <div class="jumbotron center-block registration">
     <div class="row">
      <div class="col-md-7 bordered-right">
        <form class="form-horizontal" method="post">{% csrf_token %}
          <legend><h4><b>Register to {{ app_name }}</b></h4></legend>
          {% for field in registration_form %}
	      <div class="form-group {% if field.errors %}has-error{% endif %}">
                <label class="col-md-6 control-label">{{ field.label }}</label>
                <div class="col-md-6">
                  {{ field }}
		  {% for error in field.errors %}<span class="control-label">{{ error }}</span>{% endfor %}
                </div>
              </div>
          {% endfor %}
	    <div class="col-md-7 col-md-offset-6">	  
	     <input type="submit" class="btn btn-sm btn-success" value="Register"/>
	     <a class="btn btn-sm btn-default" href="{% url 'home' %}">Cancel</a>
          </div>
        </form>
      </div>
      <div class="col-md-5">
        <legend><h5><b>Or sign up with providers<b></h5></legend>
          <a id="facebook" class="btn btn-block btn-social btn-sm btn-facebook" href="{% url 'social:begin' 'facebook' %}"><i class="fa fa-facebook"></i> Sign up with Facebook</a>
          <a id="google" class="btn btn-block btn-social btn-sm btn-google" href="{% url 'social:begin' 'google-oauth2' %}"><i class="fa fa-google"></i>Sigh up with Google</a>
          <a id="linkedin" class="btn btn-block btn-social btn-sm btn-linkedin" href="{% url 'social:begin' 'linkedin' %}"><i class="fa fa-linkedin"></i> Sigh up with LinkedIn </a>
	  <div style="margin-top:10px;"><a data-toggle="collapse" href="#moreProviders">More providers</div>
	  <div class="collapse" id="moreProviders">	  
  	    <div class="row">
              <div class="col-md-2"><a id="dropbox" class="btn btn-block btn-social-icon btn-sm btn-dropbox" href="{% url 'social:begin' 'dropbox' %}"><i class="fa fa-dropbox"></i></a></div>
              <div class="col-md-2"><a id="github" class="btn btn-block btn-social-icon btn-sm btn-github" href="{% url 'social:begin' 'github' %}"><i class="fa fa-github"></i></a></div>
              <div class="col-md-2"><a id="vk" class="btn btn-block btn-social-icon btn-sm btn-vk" href="{% url 'social:begin' 'vk-oauth2' %}"><i class="fa fa-vk"></i></a></div>
            </div>
          </div>
	  <div class="row" style="margin-top:40px;">
            <div class="col-md-8">
              <label><a href="{% url 'login' %}">Log in with email</a></label>
	    </div>
	  </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
